# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/ContraControl.vcxproj.filters
/ContraControl.vcxproj
/ContraControl.sln
/ContraControl/ContraControl.vcxproj.filters
/ContraControl/ContraControl.vcxproj
/x64/Debug
/ContraControl.vcxproj.user
/cpp.hint
/Debug
